 
  /* seletores tags,id e classes */
 

#mensagem1{color: red;background-color: blueviolet;font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
  #mensagem2{
    color: greenyellow;background-color: burlywood;font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #mensagem3{
    color: chocolate;
  }
  #mensagem4{
    color: coral;
  }
  #mensagem5{
    color: darkslategray;
  }
  #mensagem6{
    color: darkcyan;
  }
  #mensagem1,mensagem2,mensagem3{
    font-size:30px;
  }
  /*classes*/
  .mensagem{
    color: chartreuse;font-size: 24px;
  }
  span{
    color:bisque;
    font-size: 35px;
  }
  h1{
    font-size: 22px;
    
  }
  h2{
    font-size: 32px;
    
  }
  h3{
    font-size: 24px;
    
  }
  p{
    font-size: 18px;
        
  }
  h1,h2,h3,p{
   font-family: "arial", sans-serif; 
  }
  .paragrafo{
    font-style: italic;
    font-weight: 600;
    color: blue;

  }
  span{
    font-family: 'Times New Roman', Times, serif;
    line-height: 35px;
    font-style: italic;
    text-transform: lowercase;

  }
  .destaque{
    font-size: large;
    font-style: italic;
    color: red;
  }
  a{
    font-style: italic;
    text-decoration: underline;
    color: blue ;
  }
  .paragrafo1{
    color: darksalmon;
  }